* {
  box-sizing: border-box;
  color: rgb(125, 60, 152);
  font-family: 'Oswald', sans-serif;;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/fundo-purple.svg);
  display: flex;
  height: 640px;
  width: 360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-login {
  background-image: url(./images/fundo-orange-img-white-75.svg);
}

.box-filters-category {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.box-filters-category ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-filters-category li {
  background: rgb(230, 126, 34);
  border-radius: 5px;
  color: rgb(125, 60, 152);
  font-size: 0.85rem;
  font-weight: 600;
  list-style: none;
  margin: 2px 6px;
  padding: 5px;
  text-align: center;
  width: 100px;
}

.box-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}
